* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #025efe;
}

body::-webkit-scrollbar, .users::-webkit-scrollbar {
    display: none !important;
}

.bg-primary-color {
    background-color: #1e2a52;
}

.bg-blue-color {
    background-color: var(--primary-color);
}

.text-blue-color {
    color: var(--primary-color)
}

.bg-light-color {
    background: linear-gradient(106deg, #025efe09, #1e2a5209);
}
/* 
input:focus {
    border: 2px solid #025efec2 !important;
} */

